<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button (click)="play()">Play</ion-button>
  <ion-button full (click)="getPermission()">Get Permission</ion-button>
  <ion-button full (click)="startListening()">Start Listening</ion-button>
  <ion-button full (click)="stopListening()" *ngIf="isIos()">Stop Listening</ion-button>
 
  <ion-card>
    <ion-card-header>This is what I understood...</ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let match of matches">
          {{ match }}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
